{% include fragment-pagebegin.html %}
<style type="text/css">
h2:before{color:silver;counter-increment:section;content:var(--heading-prefix) " ";}
h3:before{color:silver;counter-increment:sub-section;content:var(--heading-prefix) "." counter(sub-section) " ";}
h4:before{color:silver;counter-increment:composite;content:var(--heading-prefix) "." counter(sub-section) "." counter(composite) " ";}
h5:before{color:silver;counter-increment:detail;content:var(--heading-prefix) "." counter(sub-section) "." counter(composite) "." counter(detail) " ";}
h6:before{color:silver;counter-increment:more-detail;content:var(--heading-prefix) "." counter(sub-section) "." counter(composite) "." counter(detail) "." counter(more-detail)" ";}
</style>
<div class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  <h2>{{site.data.pages[page.path].title | escape_once}}</h2>
  {% if page.path == 'index.html' %}
  {% include fragment-igTable.html %}
  {% endif %}
  {% include fragment-pageTable.html %}
  {% assign path = page.path | split: '.html' %}
  {% include {{path}}.xml %}
</div>
{% include fragment-pageend.html %}


<footer class="footer footer-principal" role="contentinfo">
  <div class="footer__region1">
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-lg-3 text-center text-md-left">
                  <div class="logos">        <div class="logo logo--0">
                          <a href="https://solidarites-sante.gouv.fr" title="Ministère des Solidarités et de la Santé (nouvelle fenêtre)" target="_blank" rel="nofollow">

          <img src="assets/images/logo-ministere.svg" alt="Ministère des Solidarités et de la Santé" width="133" height="77" loading="lazy">

                          </a>
                  </div>
          <div class="logo logo--1">
                          <a href="https://esante.gouv.fr/" title="Agence du numérique en santé (nouvelle fenêtre)" target="_blank" rel="nofollow">

          <img src="assets/images/logo-ANS-footer.svg" alt="Agence du numérique en santé" width="106" height="74" loading="lazy">

                          </a>
                  </div>
  </div>                </div>
              <div class="col-md-6 col-lg-3 text-center text-md-left">
                  <p class="footer__title">Agence du Numérique en Santé</p>
                  <p>9, rue Georges Pitard 75015 Paris</p>



                  <div class="m-social">
                      <ul class="m-social__list">        
                          <li class="m-social__item">
                              <a class="m-social__link" href="https://www.linkedin.com/company/agence-du-numerique-en-sante/" target="_blank" rel="nofollow">
                                  <div class="m-social__icon">
                                      <svg class="svg-icon svg-linkedin" aria-hidden="true" focusable="false"><use xlink:href="assets/images/icon-sprite.svg#linkedin"></use></svg>
                                  </div>
                                  <span class="sr-only">linkedin</span>
                              </a>
                          </li>
                          <li class="m-social__item">
                              <a class="m-social__link" href="https://twitter.com/esante_gouv_fr" target="_blank" rel="nofollow">
                                  <div class="m-social__icon">
                                      <svg class="svg-icon svg-twitter" aria-hidden="true" focusable="false"><use xlink:href="assets/images//icon-sprite.svg#twitter"></use></svg>
                                  </div>
                                  <span class="sr-only">twitter</span>
                              </a>
                          </li>
                          <li class="m-social__item">
                              <a class="m-social__link" href="https://www.youtube.com/channel/UCd1zuSaU5cE1lRCpwv_HSMA" target="_blank" rel="nofollow">
                                  <div class="m-social__icon">
                                      <svg class="svg-icon svg-youtube" aria-hidden="true" focusable="false"><use xlink:href="assets/images//icon-sprite.svg#youtube"></use></svg>
                                  </div>
                                  <span class="sr-only">youtube</span>
                              </a>
                          </li>
                          <li class="m-social__item">
                              <a class="m-social__link" href="https://esante.gouv.fr/rss.xml" target="_blank" rel="nofollow">
                                  <div class="m-social__icon">
                                      <svg class="svg-icon svg-rss" aria-hidden="true" focusable="false"><use xlink:href="assets/images//icon-sprite.svg#rss"></use></svg>
                                  </div>
                                  <span class="sr-only">rss</span>
                              </a>
                          </li>
                      </ul>
                  </div>

              </div>

              <div class="col-6 col-lg-3">
                  <ul class="footer-list"></ul>
              </div>

              <div class="col-6 col-lg-3">
                  <ul class="footer-list">
                      <li class="footer-list__item footer-list__item--hasIcon">
                          <a href="mailto:ci-sis@esante.gouv.fr" class="mailto-link">
                              <svg class="svg-icon svg-angle-right" aria-hidden="true" focusable="false"><use xlink:href="https://interop.esante.gouv.fr/ci-sis-specifications/wp-content/themes/o3sis/design-system/svg-icons/icon-sprite.svg#angle-right"></use></svg>Contact</a>
                      </li>
                      <li class="footer-list__item footer-list__item--hasIcon">
                          <svg class="svg-icon svg-angle-right" aria-hidden="true" focusable="false"><use xlink:href="https://interop.esante.gouv.fr/ci-sis-specifications/wp-content/themes/o3sis/design-system/svg-icons/icon-sprite.svg#angle-right"></use></svg><a class="wt-cli-manage-consent-link">Gestion des cookies</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>

  <div class="footer__region2">
      <div class="container">
          <div class="footer-contentinfo">
              <ul class="footer-list footer-list--inline">
                  <li class="footer-list__item">
                      <a href="https://interop-pprod.esante.gouv.fr/ci-sis-specifications/wp-content/uploads/CGU_espace_de_tests_v1.1.pdf" class="file-link">Mentions légales</a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</footer>